ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
}

li {
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

img {
    max-width: 300px;
}
body {
    background: lightgray;
}